.DS_Store
.idea/
__pycache__/
sdk/python/.coverage
sdk/python/.env
server/agent-runtime.db
server/.gradle/
build/
bin/
/sdk/python/src/conductor_agents.egg-info
/sdk/python/src/conductor_agents_sdk.egg-info
server/agent-runtime.db-wal
